body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.product-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    line-clamp: 3;
}

.price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.btn-buy {
    background: #007bff;
    color: #fff;
    padding: 10px;
    margin-top: auto;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
